.page1Main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Ensure the video is behind other content */
  }
  
  .full-screen-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video covers the entire container */
  }