.page1Main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.App {
  position: absolute;
  height: 100%;
  overflow: hidden;
}

.video-background {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  z-index: -1;
}

video {
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 20px;
}

.buttons {

}

.btn1 {
  border: 1px solid rgb(2, 251, 2);
  color: black;
  background-color: rgb(2, 252, 2);
  width: 200px;
  height: 50px;
  margin: 5px;
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
}

.btn2 {
  border: 1px solid rgb(2, 251, 2);
  color: rgb(2, 252, 2);
  background-color: transparent;
  width: 200px;
  height: 50px;
  margin: 5px;
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.367);
  border: solid 1px white;
}
